.navbar {
  height: 60px;
  background: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.links a {
  color: #d1d5db;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.links a:hover {
  color: #22d3ee;
}